<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Kabigon</string>
	<key>CFBundleExecutable</key>
	<string>kabigon</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.kabigon.app</string>
	<key>CFBundleName</key>
	<string>Kabigon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.18</string>
	<key>CFBundleVersion</key>
	<string>1.1.18</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Bac3Phi/kabigon/main/docs/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Pyj2y7QECxzP03mo3ljmidv/noEG5Woo1DxuQG/MxoM=</string>
</dict>
</plist>
